/* CSS for CategoryDetailPage */

.category-detail-container {
    /* Styles for the main container */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .category-detail-heading {
    /* Styles for the heading */
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .back-link {
    color: #0366d6;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }


.category-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Đặt chiều cao để căn giữa theo trục Y */
  }
  
  .category-form {
    width: 100%;
    max-width: 400px; /* Điều chỉnh độ rộng của form */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  
  .category-detail h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .category-form input,
  .category-form textarea {
    width: 96%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .category-form button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .category-form button:hover {
    background-color: #0056b3;
  }
  